<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540557952860-0hdqbf7kqvfuetiibgg7vofoikgvj5pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540557952860-0hdqbf7kqvfuetiibgg7vofoikgvj5pe</string>
	<key>API_KEY</key>
	<string>AIzaSyAtyVUowhlDN_XUQ3o05wP82y-rCjFHmqg</string>
	<key>GCM_SENDER_ID</key>
	<string>540557952860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartPrepperApp</string>
	<key>PROJECT_ID</key>
	<string>supply-list-database</string>
	<key>STORAGE_BUCKET</key>
	<string>supply-list-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540557952860:ios:cd06c28cc3991ddee66399</string>
	<key>DATABASE_URL</key>
	<string>https://supply-list-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>